<div>
  <div>
    <p class="organic {%NOT_ORGANIC%}">oraginic</p>
    <h1>name of the product: {%PRODUCTNAME%}</h1>
    <h1>{%IMAGE%}</h1>
    <h1>country: {%COUNTRY%}</h1>
    <h1>price: {%PRICE%}$</h1>
    <a href="/product?id={%ID%}">BACK </a>
  </div>
  <div>
    <p class="organic {%NOT_ORGANIC%}">oraginic</p>
    <h1>name of the product: {%PRODUCTNAME%}</h1>
    <h1>{%IMAGE%}</h1>
    <h1>country: {%COUNTRY%}</h1>
    <h1>price: {%PRICE%}$</h1>
    <a href="/product?id={%ID%}">BACK </a>
  </div>
  <div>
    <p class="organic {%NOT_ORGANIC%}">oraginic</p>
    <h1>name of the product: {%PRODUCTNAME%}</h1>
    <h1>{%IMAGE%}</h1>
    <h1>country: {%COUNTRY%}</h1>
    <h1>price: {%PRICE%}$</h1>
    <a href="/product?id={%ID%}">BACK </a>
  </div>
  <div>
    <p class="organic {%NOT_ORGANIC%}">oraginic</p>
    <h1>name of the product: {%PRODUCTNAME%}</h1>
    <h1>{%IMAGE%}</h1>
    <h1>country: {%COUNTRY%}</h1>
    <h1>price: {%PRICE%}$</h1>
    <a href="/product?id={%ID%}">BACK </a>
  </div>
  <div>
    <p class="organic {%NOT_ORGANIC%}">oraginic</p>
    <h1>name of the product: {%PRODUCTNAME%}</h1>
    <h1>{%IMAGE%}</h1>
    <h1>country: {%COUNTRY%}</h1>
    <h1>price: {%PRICE%}$</h1>
    <a href="/product?id={%ID%}">BACK </a>
  </div>
</div>
